* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Albert Sans', sans-serif;
}

body {
  background: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.register-form {
  background: #FFFFFF;
  padding: 60px;
  border-radius: 5px;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.15);    
  width: 500px;
  display: flex;
  flex-direction: column;          
  align-items: center;    
  justify-content: center; 
} 

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

input, button {
  width: 400px;
  height: 50px;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 18px;
  border: 1px solid #ccc;
}

button {
  background-color: #007E6E;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 30px;
}

button {
  background-color: #007E6E;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 30px;
}

h2 {
  font-size: 40px;
  margin-bottom: 10px;
  text-align: center;
}

h6 {
  font-size: 14px;
  margin-bottom: 30px;
  color: #555;
  text-align: center;
}

.register-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.register-header h2 {
  font-size: 40px;
  margin: 0;
}

.back-btn {
  font-size: 32px;
  cursor: pointer;
  color: #333;
  opacity: 50%;
}

.header-spacer {
  width: 28px; /* same approximate width as icon */
}

.password-container {
  position: relative;
  width: 400px;
}

.password-container input {
  width: 100%;
  height: 50px;
  padding: 10px 20px;
  /* border: 1px solid #ccc; */
  border-radius: 4px;
  font-size: 18px;
}

.password-container .toggle-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #888;
  font-size: 18px;
}
